<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Directors and Movies</h1>

    <h3><a href="/addnewdirector">Add a director</a><a href="/addmovie">Add a movie</a></h3>
<!--List Directors and their corresponding movies -->
    <div th:each="eachDirector:${directorlist}">
        <!--List the director's full name-->
        <p th:text="${eachDirector.fullName}"></p>
        <!--List all the movies the director has directed-->
        <div th:each="eachMovie: ${eachDirector.myMovies}">
            <p th:text="${eachMovie.title}"></p>
            <p th:text="${eachMovie.year}"></p>
            <p th:text="${eachMovie.description}"></p>
            <a href="">Edit</a>
        </div>
    </div>
</body>
</html>